#ask {
  color: green;
  text-align: center;
  }

#title {
  text-align: center;
  padding: 20px;
  border: 2px solid #1e90ff;
  border-radius: 20px;
  padding: 20px; 
  width: 125px;
  height: 60px; 
}
