 ::-webkit-scrollbar {
	width: 10px;
	display: none;
}




::-webkit-scrollbar-track {
	background: #FFFFFF;
	border-radius: 12px;
}


::-webkit-scrollbar-thumb {
	background: #FFFFFF;
	border-radius: 12px;
}


::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.topnav {
	overflow: hidden;
	background-color: transparent;
	width: 5vw;
	display: inline;
}

.topnav a {
	float: right;
	color: #000000;
	text-align: center;
	text-decoration: none;
	font-size: 1.25vw;
}

.topnav span {
    font-size: 25px;
    color: #A9A9A9;
    text-align: center;
    text-decoration: none;
    margin-right: 25vw;
    float: right;
    display: inline-block;
    margin-top: 0.97vw;
    overflow: hidden;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #2b2e2f;
	color: 000000;
	height: 90vh;
}

.topnav img {
	display: inline-block;
	float: left;
	padding: 0px 12px;
	margin-left: 30px;
}

.topnav a:hover {
	background-color: transparent;
	color: FFFFFF;
}

.topnav a.active {
	background-color: transparent;
	color: FFFFFF;
}

.topnavlogo {
    display: inline-block;
}

.topnavlogo a {
    color: 000000;
    text-decoration: none;
	padding: 0px 12px;
    float: right;
    display: inline-block;
    margin-right: -30vw;
}

.footer { 
	height: 10vw;
	background-color: 1e2021;
	bottom: 0;
	display: inline-block;
	position: fixed;
}

footer #GitHubLogo { 
	display: inline-block;
	max-width: 50vw;
	height: auto;
	position: absolute;
}

.logos::after {
	content: "";
	clear: both;
	display: table;	
}

.logos {
	max-width: 90vw;
}

.GitHubLogo {
	width: 39%;	
	float: left;
	margin-top: 3vw;
}

.BeatStarsLogo { 
	width: 39%;
	margin-left: 50vw;
	margin-top: 3.45vw;
}
