/* width */
::-webkit-scrollbar {
	width: 10px;
	display: none;
}


/* Track */

::-webkit-scrollbar-track {
	background: #FFFFFF;
	border-radius: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #FFFFFF;
	border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.topnav {
	overflow: hidden;
	background-color: transparent;
	width: 50vw;
	display: inline;
}

.topnav a {
	float: right;
	color: #000000;
	text-align: center;
	text-decoration: none;
	font-size: 1.25vw;
	display: inline-block;
}

.topnav span {
    font-size: 1.25vw;
    color: #000000;
    text-align: center;
    text-decoration: none;
    margin-right: 25vw;
    float: right;
    display: inline-block;
    margin-top: 1.15vw;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	color: 000000;
}

.topnav img {
	display: inline-block;
	float: left;
	padding: 0px 12px;
	margin-left: 30px;
}

.topnav a:hover {
	background-color: transparent;
	color: FFFFFF;
}

.topnav a.active {
	background-color: transparent;
	color: FFFFFF;
}

.topnavlogo {
    display: inline-block;
}

.topnavlogo a {
    color: 000000;
    text-decoration: none;
    padding: 0px 12px;
    float: right;
    display: inline-block;
    margin-right: -30vw;
}
